$color-bg-white: #fff;
$color-bg-gray: #f5f6f7;
$color-bg-footer: #000;
$color-bg-header: #000;
$color-bg-dark: #000;

$color-text-white: #fff;
$color-text-dark: #000;

$color-header-link:#fff;

$color-bg-btn:#00afdb;
$color-bg-btn-hover:#009cc2;