@import './base/normalize';
@import './base/constants';

@import './components/wrapper';
@import './components/btn';
@import './components/undeline_hover';
@import './components/burger';

@import './layout/header';
@import './layout/socials';
@import './layout/rappresent';
@import './layout/community';
@import './layout/implement';
@import './layout/newsletter';
@import './layout/download';
@import './layout/footer';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
}

.no-scroll {
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}

h1 {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}