.download {
    background: $color-bg-gray;

    .download-wrap {
        .download__container {
            .download__title-h2 {
                font-weight: 700;
                font-size: 2.4rem;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                text-align: center;
                color: $color-text-h2;
                padding-top: 120px;
            }

            .download__text-p {
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: $color-text-p;
                margin: 20px 0 30px;
                padding: 0 34%;
            }

            .download__buttons {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 30px;
                padding-bottom: 180px;

                .apple-button {
                    display: flex;
                    column-gap: 0;

                    // .download-apple {}

                    .apple-btn {
                        background-color: $color-bg-btn-hover;
                        padding: 9px 21px;
                    }
                }

                .android-button {
                    display: flex;
                    column-gap: 0;

                    .download-android {
                        padding: 0;
                    }

                    .android-btn {
                        background-color: $color-bg-btn-hover;
                        padding: 9px 21px;
                    }
                }


            }
        }
    }
}