.header {
    background: $color-bg-header;

    .header-wrap {
        .header__links {
            .header__nav {
                padding-top: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .header-list {
                    padding: 0px 20px 0 88px;
                    width: 70rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 auto;

                    .header__item {

                        .header__link {
                            color: $color-header-link;
                            font-weight: 400;
                            font-size: 1.4rem;
                            line-height: 140%;
                            transition: .7s all;
                            padding: 0 0 2px 0;

                            &:hover {
                                border-bottom: 1px solid $color-header-link;
                            }
                        }
                    }
                }
            }
        }
    }
}