.implement-code {
    background: $color-bg-white;

    .implement-code-wrap {
        .implement-code-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 120px 0 140px;

            .implement-code__picture {
                width: 26.6%;
                height: 582px;

                .implement-code__img {
                    width: 100%;
                }

            }

            .implement-code__text-container {
                width: 26.6%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .implement-code__title-h2 {
                    font-weight: 700;
                    font-size: 2.4rem;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: $color-text-h2;
                }

                .implement-code__text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: $color-text-p;
                    margin: 20px 0 30px;

                    .implement-code-text {
                        font-weight: 700;
                        color: $color-text-span;
                    }
                }
            }
        }
    }
}