.btn {
    padding: 15px 47px;
    width: 184px;
    height: 46px;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    background: $color-bg-btn;
    border: none;
    color: $color-text-white;
    transition: .4s all;

    &:hover {
        cursor: pointer;
        background: $color-bg-btn-hover;
    }
}