.burger-menu__line {
    content: '';
    width: 18px;
    height: 2px;
    background-color: $color-burger-white;
}

.burger-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px;
    width: 44px;
}

.burger-appear__parent-block {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.relative {
    position: relative;
    padding: 20px;
}

.active {
    &:first-child {
        position: absolute;
        top: 45%;
        left: 31%;
        transition: all linear .2s;
        transform: translateY(50%) rotate(45deg);
    }

    &:last-child {
        position: absolute;
        top: 48%;
        left: 30%;
        transition: all linear .2s;
        transform: translateY(-50%) rotate(-45deg);
    }
}

// .active1 {

// }

// .active2 {

// }