.burger {
    position: relative;
    margin-right: 30px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 100px;
    padding: 15px;
    cursor: pointer;
}

.burger-wrap.relative {
    position: relative;
}

.burger-menu__hor-line {
    content: '';
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: $color-burger-white;
    transition: all linear .2s;
}

.mobile>.burger {
    right: 0;
    transition: all linear .2s;
    z-index: 1;

    .burger-menu__hor-line {

        &:first-child {
            transform: translateY(7px) rotate(45deg);
        }

        &:last-child {
            transform: translateY(-6px) rotate(-45deg);
        }
    }

}

.mobile>.link-item {
    display: none;
}

.noneBurgerBtn {
    display: none;
}

.active-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: start !important;
    justify-content: start;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 2;
}

.appearNavLinkOpenBurger {
    flex-direction: column;
    row-gap: 80px;
}